<h1>Play Yer Cards Richt</h1>
<div class="card shadow p-3 mb-5 rounded">
  <h5 class="card-header">Join A Game</h5>
  <div class="card-body">
    <h5 class="card-title">Got a Pin?</h5>
    <p class="card-text">If you are wanting to join a game click the button to enter your pin.</p>
    <%= link_to "Enter Pin", new_game_player_path, class: "btn btn-success"%>
  </div>
</div>


