<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Game_questions", game_questions_path %></li>
  <li class="breadcrumb-item"><%= link_to @game_question.id, @game_question %></li>
  <li class="breadcrumb-item active">Edit</li>
</ol>

<%= render 'form', game_question: @game_question %>
