<div class="row">
  <div class="col-lg-8">
    <h1 class="text-info"><%= game.name %></h1>
  </div>
  <div class="col-lg-4 text-right">
    <h4 class="text-secondary">Pin <%= game.pin %></h4>
  </div>
</div>