<h4>Players:</h4>
  <ul class="players">
    <% game.game_players.each_with_index do |p, i| %>
      <% li_class = "li_even" if i % 2 == 0 %>
      <% li_class = "li_odd" if i % 2 == 1 %>
      <li class="<%=li_class%>"><%= p.user.team_name%></li>
      <li class="li_space">*<li>
    <% end %>
  </ul>