<div data-controller="game" data-action="game:changed@document->game#reload">
  <div class="card shadow">
    <% if @game.game_state == GameState::CREATED %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="font-weight-bold">Please Wait</p>
          <p class="font-weight-normal">Your host will start the game directly...</p>
        </li>
      </ul>
    <% end %>
    <% if @game.game_state == GameState::QUESTION_PLAY %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="font-weight-bold">Question</p>
          <p class="font-weight-normal">What is the answer dude?</p>
        </li>
      </ul>
    <% end %>
    <% if @game.game_state == GameState::QUESTION_ANSWER || @game.game_state == GameState::QUESTION_BONUS  %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="font-weight-bold">Answer and Bonus Round</p>
          <p class="font-weight-normal">Checking Answer and playing the bonus round</p>
        </li>
      </ul>
    <% end %> 
    <% if @game.game_state == GameState::QUESTION_TABLE  %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="font-weight-bold">The LeaderBoard...</p>
          <p class="font-weight-normal">You are x of y...keep going!</p>
        </li>
      </ul>
    <% end %>       
  </div>
</div>