<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Games", games_path %></li>
  <li class="breadcrumb-item"><%= link_to @game.id, @game %></li>
  <li class="breadcrumb-item active">Edit</li>
</ol>

<%= render 'form', game: @game %>
