<ol class="breadcrumb">
  <li class="breadcrumb-item active mr-auto">Games</li>
</ol>
<%= link_to "Add New Game", new_game_path %>
<div class="card-columns">
  <% @games.each do |game| %>
    <div class="card card mb-4">
      <div class="card-body">
        <h5 class="card-title"><%= link_to game.name, game %></h5>
        <h4 class="card-text">PIN: <%= game.pin %></h4>
      </div>
    </div>
  <% end %>
</div>
