<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "Games", games_path %></li>
  <li class="breadcrumb-item active mr-auto"><%= @game.name %></li> 
</ol>
<div id="content"></div>
<% if @game.user_id == current_user.id %>
  <%= render 'show_host'%>
<% else %>
  <%= render 'show_player' %>
<% end %>