<ol class="breadcrumb">
  <li class="breadcrumb-item"><%= link_to "PYCR", root_path %></li>
  <li class="breadcrumb-item active">Enter Pin</li>
</ol>

<%= render 'new_form', game_player: @game_player %>
